* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

mark {
    border-style: solid;
    border-width: thin;
}

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
}

.banner {
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
    margin: 0;
    color: white;
}

.bg-red {
    background-color: #e92b24;
}

.c-blue {
    color: #6262c9;
}

.grid-center {
    max-width: 50em;
    margin: auto;
}
